.some{
    margin-left: 250px;
    margin-top: 70px;
    /* width: 900px; */
    
   
}
.somei{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    gap: 30px;
}

.someis{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
    gap: 30px;
}
@media (max-width:758px) {
    .some{
        margin-left: 0;
    }
}